@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}


body.doanaileronroll {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

body.doabarrelroll {
  transform-origin: top center;
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
